// Z-INDEX
$z-index-modal-overlay: 1500;
$z-index-modal: 1501;

// BORDERS
$border-radius-m: 0.4rem;
$border-radius-xl: 1.5rem;


// COLORS
$color-primary-black: #2f3142;
$color-primary-green: #00b2a9;

$color-primary-blue: #003b5c;
$color-primary-blue-transparent-header: rgba(0, 59, 92, 0.1);

$color-secondary-error: #c10b59;
$color-secondary-error-hover: #eb0d6b;


$color-gray-disabled: #f2f2f2;
$color-gray-disabled-1: #c0c0c0;

$color-gray-1: #E6ECF0