// Z-INDEX
$z-index-modal-overlay: 1500;
$z-index-modal: 1501;

// BORDERS
$border-radius-m: 0.4rem;

// COLORS

$color-primary-green: #00bd7e;
$color-primary-blue: #32a6f3;
$color-primary-blue-1_3: rgba(130, 186, 223, 0.3);
$color-primary-blue-2: #1B5678;

$color-error: #e01548;

$color-gray-disabled: #f2f2f2;
$color-gray-disabled-1: #c0c0c0;

$color-gray-1: #E6ECF0;
$color-gray-2: #666;

$color-black: #0B0B0B;